{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/searchbar.css">
{% endblock %}

{% block content %}

<!-- BANNER SECTION-->
<section class="banner-section">
    <h1 class="banner-title">FIND 1000+ MOVIES <br> RATE THEM</h1>
</section>

<div class="homepage-wrapper">
    <!-- LATEST RATINGS SECTION -->
     {% if user %}
    <div class="section-container">
        <div class="section-header-row">
            <h3 class="section-title">Latest Ratings</h3>
            <a href="#" class="view-all-link">View All</a>
        </div>
        <hr class="section-divider">

        <div class="movies-grid-homepage">
            {% if followers_ratings %}
            {% for rating in followers_ratings %}
            <div class="movie-card-rating">
                <img src="https://image.tmdb.org/t/p/w500{{ rating.movie.poster_path }}" onclick="go_to('/movies/{{ rating.movie.id }}')" alt="THE BATMAN" class="movie-poster-large">
                <div class="rating-info" onclick="go_to('/profile/{{ rating.user.username }}')">
                    <span>{{ rating.user.username }}</span>
                    <span class="rating">{{ rating.rating }}★</span>
                </div>
                
            </div>
            {% endfor %}
            {% else %}
            <span>No rated movies</span>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- TRENDING NOW SECTION -->
    <div class="section-container">
        <div class="section-header-row">
            <h3 class="section-title">TRENDING NOW</h3>
            <a href="#" class="view-all-link">View All</a>
        </div>
        <hr class="section-divider">

        <div class="movies-grid-homepage">
            {% for movie in trending %}
            <div class="movie-card-trending" onclick="go_to(`/movies/{{ movie.id }}`)">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Trending 1" class="movie-poster-large">
                <div class="trending-badge">#{{ loop.index }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- TOP CONTRIBUTORS SECTION -->
    <div class="section-container">
        <div class="section-header-row">
            <h3 class="section-title">Top Contributors</h3>
            <a href="#" class="view-all-link">View All</a>
        </div>
        <hr class="section-divider">

        
        <div class="contributors-grid">
            {% for contributor in top_contributors %}
            <div class="contributor-card" onclick="go_to('/profile/{{ contributor.user.username }}')">
                <div class="contributor-avatar">
                    <img src="/static/images/avatars/{{ (contributor.user_id % 34) + 1 }}.png" alt="User123">
                </div>
                <div class="contributor-info">
                    <h4 class="contributor-name">{{ contributor.user.username }}</h4>
                    <div class="contributor-stats">
                        <span class="reviews-count">{{ contributor.reviews_count }} reviews</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
<script src="{{ url_for('static', path='js/utils.js') }}"></script>
{% endblock %}