<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Login{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="/static/auth_style.css">
    {% endblock %}
</head>
    <body>
        <div class="authContainer">
            <a href="./" class="logoText" ><h1>WATCHLY</h1></a>
            <a href="./"><img src="./static/images/logo.png" alt="Watchly Logo" class="logo"></a>
            <h2 class="mainTitle">Sign in</h2>
            <p class="subTitle">Welcome Back</p>
            <form class="authForm" action="/login" method="post">

                <input class="inputButton" type="text" name="username" placeholder="Username" required>
                <br>

                <input class="inputButton" type="password" name="password" placeholder="Password" required>
                <br>
                <button class="inputButton" type="submit">Continue</button>

            </form>
            <hr class="hrLine" />
            <div class="footerText">
                <p>Don't have an account? <a href="/register" style="text-decoration: none; color: #FF9D00;"> Sign Up</a></p>
            </div>
        </div>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </body>
</html>