{% extends "base.html" %}
{% block content %}
<div class="profile-wrapper">
    <div class="profile-card">
        <div class="profile-header-content">
            <div class="avatar-section">
                <div class="avatar-circle">
                    <img src="https://i.pinimg.com/originals/82/47/0b/82470b4ed44c3edacfcd4201e2297050.jpg?nii=t"
                        alt="Avatar">
                </div>
                <a href="/profile/edit" class="share-profile-link">Edit picture</a>
            </div>

            <div class="info-section">
                <div class="info-top">
                    <div>
                        <h1 class="display-name">{{ user_data.username }}</h1>
                    </div>
                    {% if user %}
                    {% if user.username == user_data.username %}
                    <a href="/profile/edit" class="edit-btn">Edit profile</a>
                    {% else %}
                    {% if following %}
                    <button id="follow-btn" onclick="unfollow('{{ user_data.username }}')">unfollow</button>
                    {% else %}
                    <button id="follow-btn" onclick="follow('{{ user_data.username }}')">follow</button>
                    {% endif %}
                    {% endif%}
                    {% else %}

                    {% endif %}
                </div>

                <p class="bio-text">{{ user_data.description }}</p>

                <div class="follow-stats">
                    <span><strong>{{ user_data['following'] }}</strong> Following</span>
                    <span id="follow-count"><strong>{{ user_data['followers'] }}</strong> Followers</span>
                </div>

                <p class="member-since">Member since <span class="date-account">{{ user_data.member_since }}</span></p>
            </div>
        </div>
    </div>

    <div class="stats-grid">
        <div class="stat-box">
            <div class="stat-header">
                <span>Rated movies</span>
                <span class="icon">★</span>
            </div>
            <div class="stat-number">{{ user_data['rated_movies']|length}}</div>
        </div>

        <div class="stat-box">
            <div class="stat-header">
                <span>Average rating</span>
                <span class="icon">↗</span>
            </div>
            <div class="stat-number">{{ user_data['avg_rating'] }}</div>
        </div>
        <a href="/profile/{{ user.username }}/favorites" class="stat-box-link">
            <div class="stat-box">
                <div class="stat-header">
                    <span>Favorite movies</span>
                    <span class="icon">♥</span>
                </div>
                <div class="stat-number">52</div>
            </div>
        </a>
    </div>

    <div class="section-container">
        <h3 class="section-title">Favorite Genres</h3>
        <hr class="section-divider">
        <div class="genres-list">
            {% for fav_genre in fav_genres %}
            <span class="genre-tag">{{ genre }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="section-container">
        <div class="section-header-row">
            <h3 class="section-title">Favorite Movies</h3>
            <a href="/profile/{{ user.username }}/favorites" class="view-all-link">View All</a>
        </div>
        <hr class="section-divider">

        <div class="movies-grid">
            <img src="https://s3.amazonaws.com/nightjarprod/content/uploads/sites/261/2025/02/22162818/wTxYZNj3NselE9H9dST2GUn4UYE1-683x1024.jpg"
                alt="Movie 1" class="movie-poster" style="background: grey;">
            <img src="https://images.justwatch.com/poster/336489292/s718/chainsaw-man-the-movie-reze-arc.jpg"
                alt="Movie 2" class="movie-poster" style="background: grey;">
            <img src="https://play-lh.googleusercontent.com/skArSY8m4e4g3ggAR8gmGobZ_Gl8cd1qLlmrUSX9WzbcFkvxeLnQVi97SJGEojt_kRbSbFynQYdCApKlqg"
                alt="Movie 3" class="movie-poster" style="background: grey;">
            <img src="https://m.media-amazon.com/images/M/MV5BNzJkMjBjYzUtMjZjNy00MTg5LTkxNzgtMmM3ZWZjYzRjMDliXkEyXkFqcGc@._V1_.jpg"
                alt="Movie 4" class="movie-poster" style="background: grey;">
            <img src="https://resizing.flixster.com/wV43LjsGt0QL6XSY-smx2uiCReI=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzlhMmM2NWRlLWNlNmYtNDk4Zi1iNzlmLTE4YTg2NzRiZWU5YS5qcGc="
                alt="Movie 5" class="movie-poster" style="background: grey;">
            <img src="https://m.media-amazon.com/images/M/MV5BYmQwNzRiNmItODc4Ny00Mjk4LThmYWQtNjI5OGU4OGUxMmY0XkEyXkFqcGc@._V1_.jpg"
                alt="Movie 6" class="movie-poster" style="background: grey;">
            <img src="https://upload.wikimedia.org/wikipedia/en/3/32/A_Silent_Voice_Film_Poster.jpg" alt="Movie 7"
                class="movie-poster" style="background: grey;">
            <img src="https://moviesfilmsandflix.com/wp-content/uploads/2023/10/mv5bzwuxztllzgitzjfhys00ndi4ltgwodatyzninzeznjnmmzrkxkeyxkfqcgdeqxvymte0mzqwmjgz._v1_.jpg"
                alt="Movie 8" class="movie-poster" style="background: grey;">
        </div>
    </div>

    <div class="section-container">
        <h3 class="section-title">Rating</h3>
        <hr class="section-divider">
        {% if user_data['rated_movies'] %}
        {% for movie in user_data['rated_movies'] %}
        <div>
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            <span>{{ movie.title }} </span>
            <span>{{ movie.rating }}</span>
        </div>
        {% endfor %}
        {% else %}
        <div class="rating-placeholder">
            <p>Your rating activity will appear here.</p>
        </div>
        {% endif %}
    </div>

    <div class="section-container">
        <h3 class="section-title">Reviews</h3>
        <hr class="section-divider">
        {% if user_data.reviews %}
        {% for review in user_data.reviews %}
        <div class="reviews-list">
            <div class="review-card">
                <div class="review-poster-wrapper">
                    <img src="https://image.tmdb.org/t/p/w500{{ review.movie.poster_path }}"
                        alt="{{ review.movie.title }}" class="review-poster">
                </div>
                <div class="review-content">
                    <div class="movie-header">
                        <h4 class="movie-title">{{ review.movie.title }} <span class="movie-year">{{
                                review.movie.release_date }}</span></h4>
                    </div>
                    <p class="movie-description">
                        {{ review.movie.description }}
                    </p>

                    <div class="genres-list">
                        {% for genre in review.movie.genres %}
                        <span class="genre-tag">{{ genre }}</span>
                        {% endfor %}
                    </div>

                    <hr class="section-divider">
                    <div class="user-comment">
                        <span class="comment-label">Review:</span>
                        <p>{{ review.content }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <span>There's no reviews</span>
        {% endif %}

    </div>
</div>
<script src="{{ url_for('static', path='js/follow_user.js') }}"></script>
{% endblock %}