<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Register{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="/static/auth_style.css">
    {% endblock %}
</head>
<body>
    
    <div class="authContainer">
        <a href="./" class="logoText"><h1>WATCHLY</h1></a>
        <a href="./"><img src="./static/images/logo.png" alt="Watchly Logo" class="logo"></a>
        <h2 class="mainTitle">Sign up</h2>
        <p class="subTitle">Join to +1000 users and rate movies</p>
        <form class="authForm" action="/register" method="post">

            <input class="inputButton" type="text" name="username" placeholder="Username" required>
            <br>
            <input class="inputButton" type="email" name="email" placeholder="Email" required>
            <br>
            <input class="inputButton" type="password" name="password" placeholder="Password" required>
            <br>
            <button class="inputButton" type="submit">Continue with Email</button>
        </form>
        <hr class="hrLine" />
        <button class="inputButton">Continue with Google</button>
        <div class="footerText">
            <p>Already have an account?  <a href="/login">Sign In</a></p>
        </div>
    </div>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

</body>
</html>